html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #f2f4f5;
	color:#000;
	margin: 0 0 45px;
	padding:0px;
}

@media (max-width: 1300px) {
	#tablename {
		display:none!important;
	}
	.homesearchbar {
		margin-left:10%!important;
	}
}

@media (max-width: 1165px) {
	#navProfile {
    	display: none;
	}
	.listsearchbar {
		margin-left:0px!important;
	}
}

@media (max-width: 955px) {
	.listsearchbar {
		width:95%!important;
		display:block!important;
		margin:0px auto!important;
		height:32px;
		padding-left:5%;
		/*float:left;*/
	}
	#rightInfo {
		float:right;
		width:100%!important;
		display:block!important;
		margin:0px auto!important;
	}
	#banner {
		height:130px!important;
		padding-left:10%!important;
		padding-right:10%!important;
	}
	#navLogout {
		margin-right:0px!important;
	}
}

@font-face {
	src:url('/Museo/MuseoSans_700.otf');
	font-family:bold;
}

@font-face {
	src:url('/Museo/MuseoSans-300.otf');
	font-family:regular;
}

@font-face {
	src:url('/Museo/MuseoSans_500.otf');
	font-family:semibold;
}

@font-face {
	src:url('/Museo/MuseoSans-100.otf');
	font-family:light;
}

* {
	text-indent:0px!important;
	font-weight:normal!important;
}

a {
	/*color:#070;*/
	color:#888888;
	text-decoration:none;
}

textarea {
	font:1em "Courier New", monospace;
}

div#nav {
	background-color:#070;
	float:left;
	width:16%;
	max-width:16%;
	font-weight:700;
	font-size:13px;
	line-height:140%;
	overflow:hidden;
	margin:0 1.5% 0 .25%;
	padding:4px 0 10px 10px;
}

div#wrapper {
	width:100%;
}

.center {
	background-color:#f5f5f0;
	width:80%;
	text-align:left;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	margin:0 .5%;
	padding:5px;
}

.admincenter {
	background-color:#f5f5f0;
	width:60%;
	text-align:left;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	margin:0 .5%;
	padding:5px;
	margin-bottom:80px;
}

.subcolumn {
	float:left;
	width:32%;
	margin-right:2%;
}

.lastcolumn {
	float:left;
	width:32%;
}

.instancecolumn {
	float:left;
	width:32%;
}

.question {
	background-color:#FFF;
	border: 2px solid #e9edf0;
	border-radius:5px;
	float:left;
	width:96%;
	overflow:hidden;
	margin:.5% 2% .5% 0;
	padding:2%!important;
	padding-bottom:10px!important;
	margin-bottom:15px;
	position:relative;
}

.instance {
	background-color:#FFF;
	border: 2px solid #e9edf0;
	border-radius:5px;
	float:left;
	width:90%;
	margin:.5% 2% .5% 0;
	padding:2%!important;
	padding-bottom:10px!important;
	margin-bottom:15px;
	cursor:pointer;
	position:relative;
}

.instance .instancename {
	pointer-events: none;
}

.instance .answercontainer {
	pointer-events:none;
}

.instance .questionbottom {
	pointer-events:none;
}

.instance .bottomleft {
	pointer-events:none;
}

.instance .postername {
	pointer-events:none;
	float:left;
}

.instance .time {
	pointer-events:none;
	float:right;
}

.formcontainer {
	display:none;
	background-color:#FFF;
	border: 2px solid #e9edf0;
	border-radius:5px;
	height:auto;
	display:block;
	margin:0px auto;
	width:30%;
	margin-top:120px;
	margin-bottom:100px;
	z-index:9999999999999999;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-15%;
	margin-top:-260px;
}

#loginsubmitbutton, #registersubmitbutton, #shareclosebutton, #modsdonebutton, .combinesubmitbutton, .renamesubmitbutton, .modifysubmitbutton {
	width:40%;
	display:block;
	height:30px;
	margin:0px auto;
	background-color:#2ecc71;
	margin-top:20px;
	margin-bottom:35px;
	border-radius:5px;
	cursor:pointer;
	text-align:center;
	font-family:semibold;
	color:white;
	padding-top:5px;
}

.modline {
	width:100%;
}

.modbox {
	width:80%;
	padding-left:2%;
	margin:0px auto;
	border: 2px solid #e9edf0;
	border-radius:5px;
	outline:0;
	height:30px;
	font-family:regular;
	font-size:16px;
	margin-top:10px;
}

.formtitle {
	font-family:semibold;
	color:#333333;
	text-align:center;
	font-size:24px;
	font-weight:normal;
	margin-bottom:0px;
}

.instance:hover {
	background-color:#F7F7F7;
}

.inputcontainer {
	width:80%;
	display:block;
	margin:0px auto;
}

.input {
	display:block;
	width:100%;
	padding-left:2%;
	margin:0px auto;
	border: 2px solid #e9edf0;
	border-radius:5px;
	outline:0;
	height:35px;
	margin-bottom:25px;
	font-family:regular;
	font-size:16px;
}

#shareinput {
	display:block;
	width:80%;
	padding-left:2%;
	margin:0px auto;
	border: 2px solid #e9edf0;
	border-radius:5px;
	outline:0;
	height:35px;
	margin-bottom:25px;
	font-family:regular;
	font-size:16px;
}

#footercontainer {
	margin-top:25px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 45px;
	width: 100%;
	background-color:#293340;
	padding-bottom:10px;
	padding-top:8px;
	text-align:center;
}

#footercontainer p {
	color:white;
	font-family:semibold;
	cursor:pointer;
}

.postername {
	margin:0px;
	padding:0px;
	padding-left:3px;
	padding-top:4px;
	font-family:semibold;
	color:#777777!important;
	text-decoration:none!important;
}

#votearea {
	padding:6px;
	font-family:semibold;
	font-size:13px;
	color:#666666;
}

.voteright {
	position:absolute;
	margin-left:20px;
	margin-top:2px;
	text-decoration:underline;
	cursor:pointer;
}

.voteright:hover {
	color:#999999!important;
}

.facebookbutton {
	background-image:url('/facebook.png');
	background-size:contain;
	width:16px;
	height:16px;
	float:right;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	margin-top:12px;
	margin-right:10px;
	display:none;
}

.facebookbutton:hover {
	background-image:url('/facebook_blue.png');
}

.twitterbutton {
	background-image:url('/twitter.png');
	background-size:contain;
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	right:0;
	margin-top:12px;
	margin-right:30px;
	cursor:pointer;
	display:none;
}

.twitterbutton:hover {
	background-image:url('/twitter_blue.png');
}

.question:hover .facebookbutton {
	display:block;
}

.question:hover .twitterbutton {
	display:block;
}

.quesitonbottom {
	padding-left:6px;
	margin-top:6px;
}

.instancebottomleft {
	width:100%;
}

.bottomleft {
	width:50%;
	float:left;
}

.bottomright {
	width:50%;
	float:right;
}

.time {
	color:#999999;
	font-family:regular;
	font-size:12px;
	padding-left:3px;
	margin-top:6px;
	margin-right:6px;
}

.replybutton {
	float:right;
	cursor:pointer;
	height:23px;
	width:65px;
	background-color:white;
	border:2px solid #CCCCCC;
	color:#CCCCCC;
	font-size:14px;
	font-family:semibold;
	text-align:center;
	padding-top:6px;
	margin-top:7px;
	border-radius:5px;
	margin-right:5px;
}

.replybutton:hover {
	background-color:#e3e3e3;
}

.modaltopmessage {
	color:#777777;
	font-family:light;
	text-align:center;
	font-size:13px;
	display:block;
	margin:0px auto;
	padding:0px;
	line-height:1em;
	width:70%;
	margin-top:10px;
	margin-bottom:35px;
}

#creditstext {
	color:#777777;
	font-family:regular;
	text-align:center;
	font-size:14px;
	display:block;
	margin:0px auto;
	padding:0px;
	line-height:1.5em;
	width:80%;
	margin-top:25px;
	margin-bottom:35px;
}

#creditstext a {
	text-decoration:underline;
}

.modalbottommessage {
	color:#666666;
	margin:0px;
	padding:0px;
	font-family:regular;
	text-align:center;
	font-size:14px;
}

.modalemphasis {
	color:#333333;
	text-decoration:underline;
	cursor:pointer;
	display:inline;
}

.modalemphasis:hover {
	color:#666666;
}

.question:hover .replybutton {
	border:2px solid #999999;
	color:#999999;
}

.replybutton:hover {
	border:2px solid #999999;
	color:#999999;
}

.description {
	display:block;
	margin:0px auto;
	width:40%;
	text-align:center;
	margin-bottom:0px;
	margin-top:10px;
	padding-bottom:0px;
	padding-left:5px;
	color:#999999;
	font-family:semibold;
}

.instancetitle {
	margin-left:10%;
	margin-right:10%;
	width:80%;
	text-align:center;
	margin-bottom:0px;
	margin-top:30px;
	padding-bottom:0px;
	padding-left:5px;
	color:#333333;
	font-size:24px;
	font-family:bold;
}

.questiontext {
	padding-left:8px;
	padding-top:4px;
	margin-top:0px;
	font-family:semibold;
	font-size:16px;
	color:#333333;
	padding-bottom:10px;
	margin-bottom:0px;
}

.questionLink {
	color: #2980b9;
	text-decoration:underline;
}

.questionLink:hover {
	color: #3498db;
}


.instancename {
	padding-left:8px;
	padding-top:4px;
	margin-top:0px;
	font-family:semibold;
	font-size:20px;
	color:#333333;
	padding-bottom:10px;
	margin-bottom:0px;
}

.answer {
	background-color:#FFF;
	float:left;
	width:85%;
	border:2px solid #0F0;
	overflow:hidden;
	margin:.5% 2% .5% 5%;
	padding:1%;
}

.answercontainer {
	width:100%;
	padding-left:8px;
}

.answerposter {
	font-family:regular!important;
	text-decoration:none!important;
	color:#999999!important;
	font-size:12px;
}

.answertext {
	font-family:light!important;
	text-decoration:none!important;
	color:#999999!important;
	font-size:12px;
}

.votes {
	float:left;
	color:#fff;
	text-align:center;
	margin:0 5px 0 0;
	padding:2%;
}

.columnhead {
	text-align:center;
	font-size:110%;
	font-weight:700;
	color:#070;
	padding:2px;
}

#banner {
	color:white;
	background:#293340;
	height:60px;
	display:block;
	padding-top:2px;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:24px;
	margin-bottom:0px;
	padding-bottom:0px;
}

#darker {
	background-color:black;
	position:fixed;
    top: 0;
    bottom: 0;
	right:0;
	left:0;
	opacity:.6;
	overflow:hidden;
	z-index:999999999999999;
	cursor:pointer;
}

#loadingSpinner {
	display:block;
	margin:0px auto;
	width:100px;
	height:100px;
	margin-top:125px;
}

#loadingText {
	font-weight:normal;
	width:100%;
	text-align:center;
	font-family:bold;
	color:#274450;
}

#tablename {
	font-size:24px;
	font-family:semibold;
	display:inline;
	float:left;
	margin-left:130px;
}

#questiondiv {
	display:block;
	margin:0px auto;
	width:700px;
	height:auto;
	background-color:#27b0d8;
}

#creatediv {
	display:block;
	margin:0px auto;
	width:700px;
	height:auto;
	background-color:#27b0d8;
}

#questioninput {
	width:650px;
	height:110px;
	padding:0px;
	border-width:0;
	padding:20px 20px 20px 30px;
	color:#888888;
	font-family:light;
	border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #e3e3e3;
	margin:0px!important;
	display:block;
	resize: none;
}

#questionnameinput {
	float:left;
	width:330px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;         
}

#instancenameinput {
	float:left;
	width:680px;
	padding:0px!important;
	margin:0px!important;
	border-radius:5px 5px 0px 0px;
	border-width:0;
	border-bottom:1px solid #e3e3e3;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;         
}

#instancedescriptioninput {
	float:left;
	width:680px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;         
	border-bottom:1px solid #e3e3e3;
}

#questionpasswordinput {
	float:left;
	width:330px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;
	border-top:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
}

.emptyinputspacer {
	width:280px;
	float:right;
	height:50px;
}

.firstmodinput {
	border-top:1px solid #e3e3e3!important;
}

.instancemodsinput {
	float:left;
	width:400px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;
	border-bottom:1px solid #e3e3e3;
}

#questionconfirminput {
	float:left;
	width:329px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	font-family:light;
	font-size:14px;
	display:block;
	border-top:1px solid #e3e3e3;
}

textarea:focus, input:focus{
    outline: 0;
}

#questionemailinput {
	float:right;
	width:329px;
	padding:0px!important;
	margin:0px!important;
	border-width:0;
	height:50px;
	color:#888888;
	padding-left:20px!important;
	border-left:1px solid #e3e3e3;
	font-family:light;
	font-size:14px;
	display:block;
}

.dropdownlabel {
	float:left;
	clear:both;
}

#topinputcontainer {
	height:50px;
	display:block;
	width:100%;
}

#topinputcontainer {
	height:50px;
	display:block;
	width:100%;
}

#instancetopinputcontainer {
	height:100px;
	display:block;
	width:100%;
}

#bottominputcontainer {
	height:50px;
	display:none;
	width:100%;
}

#instancebottominputcontainer {
	height:320px;
	display:none;
	width:100%;
	background-color:#f9f9f9;
	padding-top:30px;
	padding-bottom:20px;
}

#bottomquestionarea {
	width:700px;
	height:50px;
	background-color:#f2f4f5;
	display:block;
	border-radius: 0px 0px 5px 5px;
	/*padding:14px;*/
}

.dropdowncontainer {
	width:452px;
	padding-left:20px;
	display:block;
	float:left;	
}

.dropdownlabel {
	color:#666666;
	font-family:regular;
	font-size:14px;
}

.dropdowncontainer select {
	margin-top:16px;
	float:right;
}

.checkbox {
	height:17px;
	width:20px;
	margin-left:6px;
	background-color:white;
	border-radius:2px;
	border:1px solid #999999;
	cursor:pointer;
	padding-top:3px;
	float:left;
	margin-right:0px;
	padding-right:0px;
}

.checked {
	width:14px;
	height:14px;
	margin:0px auto;
	background-color:#27b0d8;
	border-radius:2px;
	display:none;
}

.checkboxlabel {
	margin-top:3px;
	padding:0px;
	text-align:left;
	font-family:regular;
	color:#888888;
	font-size:12px;
}

.replychecklabel {
	margin-top:3px;
	padding:0px;
	text-align:left;
	font-family:regular;
	color:#888888;
	font-size:14px;
}

.anonchecked {
	background-color:#27ae60;
}

.checkarealeft {
	width:auto;
	float:left;
}

.checkarearight {
	width:auto;
	float:left;
	margin-left:5px;
}

#checkareas {
	width:360px;
	float:left;
	margin-top:14px;
	margin-left:8px;
}

#buttonarea {
	width:200px;
	height:25px;
	margin-right:12px;
	margin-top:10px;
	float:right;
	/*border:2px solid #27ae60;*/
	/*color:#27ae60;*/
	background-color:#27ae60;
	color:white;
	border-radius:2px;
	font-size:14px;
	font-family:semibold;
	text-align:center;
	padding-top:5px;
	cursor:pointer;
}

#buttonarea:hover {
	background-color:#2ecc71;
}

#checkarea1 {
	width: 180px;
	float:left;
}

#checkarea2 {
	width:180px;
	float:left;
}

.countarea {
	width:auto;
	float:left;
	margin-top:16px;
	margin-left:46px;
	font-family:light;
	color:#999999;
	font-size:15px;
}

#darkcounter {
	color:#333333;
}

#toparea {
	background-color:#27b0d8;
	height:auto;
	display:none;
	padding-bottom:65px;
	padding-top:55px;
}

#tabledescription {
	padding:0px;
	margin:0px;
}

#searchbar {
	width:22%;
	height:32px;
	display:inline;
	float:left;
	background-color:white;
	margin-top:11px;
	margin-left:50px;
	border-radius: 5px;
	border:0px;
	outline:0px;
	padding-left:35px;
	font-family:regular;
	color:#444444;
	font-size:16px;
	background-image:url('/search.png');
	background-repeat:no-repeat;
	background-position:10px center;
	background-size: 16px 16px;
	outline:0;
}

#navbuttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float:left;
}

#navbuttons li {
	color:white;
	font-family:light;
	font-weight:normal;
	font-size:14px;
	margin-top:15px;
	margin-right:25px;
	float:left;
	padding:0px 5px 0px 5px;
	border-radius:4px
}

#navbuttons li:hover {
	background-color:#5d6a7b;
}


td {
	width:50%;
}

.vc0 {
	background:#008;
}

.vc1 {
	background:#06a;
}

.vc2 {
	background:#088;
}

.vc3 {
	background:#070;
}

.vc4 {
	background:#9a0;
}

.vc5 {
	background:#b70;
}

.vc6 {
	background:#c00;
}

.vc7, .vc8 {
	background:#f04;
}

.new {
	color:#930;
}

.stale {
	color:#999;
}

div.votes a, div#nav a {
	color:#FFF;
}

.tablerow {
	width:100%;
	cursor:move;
}

.ui-state-highlight {
	/*border-color:green!important;*/
}

#returnbutton {
	cursor:pointer;
}

div#recent, div#popular {
	width:100%;
	background-color: #f2f4f5;
	float:left;
	overflow:hidden;
	padding-top:30px;
	padding-bottom:100px;
}

#questionscontainer { 
	width:80%;
	display:block;
	margin:0px auto;
	height: auto;
	overflow:auto;
}

.timesectioncontainer {
	width:100%;
	display:block;
	margin-top:40px;
	margin-bottom:25px;
}

.timesectionlabel {
	width:auto;
	display:inline;
	font-size:18px;
	border-radius:5px;
	font-family:semibold;
	color:white;
	padding:5px 10px 5px 10px;
	background-color:#888888;
	margin-left:5px;
}

.firsttimesection {
	margin-top:20px!important;
}

.admincontainer {
	width:76%;
	background-color:#e3e3e3;
	border:2px solid #CCCCCC;
	display:block;
	margin:0px auto;
	margin-top:25px;
	padding:1.5% 2% 1.5% 2%;
	border-radius:5px;
	padding-bottom:50px;
}

.modcontainer {
	padding-bottom:15px !important;
}

.admincontainer h2 {
	color:#333333;
	font-size:20px;
	font-family:bold;
	margin:0px;
	padding:0px;
}

.admincontainer p {
	color:#444444;
	font-family:regular;
	font-size:16px;
}

.adminbutton {
	display:block;
	float:left;
	background-color:#666666;
	border:2px solid #999999;
	border-radius:5px;
	color:white;
	text-decoration:none;
	cursor:pointer;
	margin-right:10px;
	padding:5px 10px 5px 10px;
	font-family:regular;
	font-size:14px;
}

.adminbutton:hover {
	background-color:#888888;
}

.voteClick {
	color:white;
	font-family:bold;
	padding:2px 4px 2px 4px;
	font-size:12px;
	border-radius:3px;
	text-decoration:none;
	float:left;
}

/*.hideQuestion, #unhidebutton, #logoutbutton {
	cursor:pointer;
}*/

#admintable {
	display:block;
	margin:0px auto;
	width:80%;
	border-collapse:collapse;
}

#admintable tr {
	background-color:white;
}

#tablespacer {
	width:100%;
	height:10px;
}

.hiddeninput {
	display:none;
}

.visibleinput {
	display:inline-block;
}

#rightInfo {
	float:right;
	margin-right:20px;
}

#navLogin, #navRegister, #navAsk, #navCreate {
	cursor:pointer;
	float:right;
	padding:3px 15px 5px 15px;
	text-align:center;
	font-size:15px;
	font-family:regular;
	border-radius:5px;
	margin-top:12px;
	margin-right:20px;
}

#navShare, #navHome {
	cursor:pointer;
}

.replybottom {
	width:340px;
	height:158px;
	display:none;
	margin:0px auto;
	margin-top:55px;
	padding-top:20px;
}

.replybottomcheck {
	padding-top:25px;
	float:left;
}

.replyarea {
	width:329px;
	display:block;
	margin:0px auto;
	border:2px solid #e9edf0;
	border-radius:5px 5px 0px 0px;
	color:#888888;
	font-family:light;
	padding-left:5px;
	font-size:14px;
	height:65px;
	outline:0;
	resize:none;
}

.replyname {
	width:163px;
	height:36px;
	float:left;
	border:0px;
	outline:0px;
	padding:0px;
	margin:0px;
	border-left:2px solid #e9edf0;
	border-right:2px solid #e9edf0;
	border-bottom:2px solid #e9edf0;
	border-radius:0px 0px 0px 5px;
	color:#888888;
	font-family:light;
	padding-left:5px;
	font-size:14px;
}

.replyemail {
	width:161px;
	height:36px;
	float:right;
	border:0px;
	margin:0px;
	padding:0px;
	outline:0px;
	border-right:2px solid #e9edf0;
	border-bottom:2px solid #e9edf0;
	border-radius: 0px 0px 5px 0px;
	color:#888888;
	font-family:light;
	padding-left:5px;
	font-size:14px;
}

.replybottombutton {
	float:right;
	cursor:pointer;
	height:25px;
	width:130px;
	background-color:white;
	border:2px solid #27ae60;
	color:#27ae60;
	font-size:14px;
	font-family:semibold;
	text-align:center;
	padding-top:5px;
	margin-top:20px;
	margin-bottom:6px;
	border-radius:5px;
}

.instancedescription {
	font-family:light!important;
	text-decoration:none!important;
	color:#999999!important;
	font-size:14px;
}

.replycounter {
	margin:0px;
	padding:0px;
	width:auto;
	height:auto;
	float:left;
	margin-left:35px;
	margin-top:28px;
	font-family:light;
	color:#999999;
	font-size:14px;
}

.favoriteInstance {
	border:2px solid #ec4f4f;
}

.replybottombutton:hover {
	border:2px solid #2ecc71;
	color: #2ecc71;
}

#navLogin {
	background-color:#ec4f4f;/*#5d6a7b*/
	margin-right:130px;
}

#navAsk, #navCreate {
	background-color:#27ae60;
}

#navRegister {
	background-color:#5d6a7b;
}

.favoritebutton {
	background-image:url('/heart_empty.png');
	background-size:contain;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	z-index:99999999;
	margin:15px;
}

#navLogout {
	cursor:pointer;
	background-color: #5d6a7b;
	float:right;
	padding:3px 15px 5px 15px;
	text-align:center;
	font-size:15px;
	font-family:regular;
	border-radius:5px;
	margin-top:12px;
	margin-right:130px;
}

#navLogout:hover {
	background-color: #738092;
}

#navAsk:hover, #navCreate:hover {
	background-color:#43c177;
}

.question:hover .adminquestionhide, .question:hover .adminquestionmodify, .instance:hover .superadminrenamebutton, .instance:hover .superadmindeletebutton {
	border:2px solid #999999;
	color:#999999;
}


.adminquestionhide, .superadminrenamebutton {
	clear:both;
	float:left;
	width:44%;
	margin-top:15px;
	height:26px;
	margin-left:10px;
	background-color:white;
	border:2px solid #CCCCCC;
	color:#CCCCCC;
	font-size:14px;
	font-family:semibold;
	text-align:center;
	padding-top:7px;
	border-radius:5px;
	cursor:pointer;
	z-index:999;
}

.superadminrenamebutton:hover, .superadmindeletebutton:hover, .adminquestionhide:hover, .adminquestionmodify:hover {
	background-color:#e3e3e3;
}

.adminquestionmodify, .superadmindeletebutton {
	margin-top:15px;
	margin-right:5px;
	float:right;
	height:26px;
	width:44%;
	background-color:white;
	border:2px solid #CCCCCC;
	color:#CCCCCC;
	font-size:14px;
	font-family:semibold;
	text-align:center;
	padding-top:7px;
	border-radius:5px;
	cursor:pointer;
	z-index:999;
}

#navProfile {
	float:left;
	margin-right:20px;
	margin-top:15px;
	font-family:regular;
	font-weight:normal;
	font-size:15px;
}

.plusbutton {
	display:inline-block;
	width:25px;
	height:25px;
	border-radius:2px;
	cursor:pointer;
	background-color:#33a136;
	margin-top:15px;
	color:white;
	font-size:20px;
	padding-top:0px;
	text-align:center;
	font-family:semibold;
	margin-left:10px;
}

.removebutton {
	display:inline-block;
	width:25px;
	height:25px;
	border-radius:2px;
	cursor:pointer;
	background-color:red;
	margin-top:15px;
	color:white;
	font-size:18px;
	padding-top:0px;
	text-align:center;
	margin-left:10px;
	font-family:semibold;
}

.plusbuttoncontainer {
	width:51px;
	height:50px;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	background-color:white;
	border-bottom:1px solid #e3e3e3;
}

.instancemodsplus {
	width:31px;
	float:left;
	height:30px;
	margin:10px;
	background-color:#27b0d8;
	border-radius:5px;
	color:white;
	font-family:bold;
	text-align:center;
	font-size:23px;
	cursor:pointer;
}

.instancemodsplus:hover {
	background-color:#51BEDE;
}

.plusbutton:hover {
	background-color: #55c958;
}

.buttonFavorite {
	background-image:url('/heart_filled.png')!important;
}

.newquestion {
	border:2px solid #27ae60;
}

.popularquestion {
	border:2px solid #f1c40f;
}

.stalequestion {
	opacity:.7;
}

.starimage {
	width:16px;
	height:16px;
	float:left;
	margin-right:4px;
	margin-top:-1px;
	padding-top:0px;
}

.adminimage {
	width:14px;
	height:14px;
	float:left;
	margin-right:4px;
	margin-top:2px;
	padding-top:0px;
}

.modimage {
	width:20px;
	height:20px;
	float:left;
	margin-right:4px;
	margin-top:-1px;
	padding-top:0px;
}

.populartext {
	display:inline;
	color: #f1c40f;
	font-family:bold;
	margin:0px;
	padding:0px;
}

.newquestiontext {
	display:inline;
	color: #27ae60;
	font-family:bold;
	margin:0px;
	padding:0px;
}

.stalequestiontext {
	display:inline;
	color: #CCCCCC;
	font-family:semibold;
	margin:0px;
	padding:0px;
}

.questionbadgecontainer {
	float:right;
	margin-top:-2px;
	margin-left:6px;
}

.instancebadgecontainer {
	float:right;
	margin-top:7px;
	margin-left:6px;
	margin-right:38px;
}

.question:hover .questionbadgecontainer {
	display:none!important;
}

.error {
	font-family:bold;
	width:98%;
	border: 2px solid #e74c3c;
	background-color:#e74c3c;
	display:block;
	margin:0px auto;
	padding:0px;
	padding-left:12px;	
	margin-bottom:15px;
	border-radius:5px;
	font-size:14px;
	color:white;
	font-weight:normal;
	text-align:left;
}

.closecontainer {
	cursor:pointer;
	display:inline-block;
	background-color:#ea6153;
	border-radius:5px;
	padding:0px 4px 0px 0px;
	margin:10px 0px 0px 10px;
}

.closecontainer:hover {
	background-color:#ed766a;
}

.closeIcon {
	width:16px;
	height:16px;
	float:left;
	margin:5px 0px 0px 6px;
	padding-right:4px;
}

.closeText {
	color: white;
	font-family:bold;
	float:right;
	font-size:14px;
	padding-top:2px;
}

.errorIcon {
	width:14px;
	height:14px;
	float:left;
	margin-top:1px;
	margin-right:8px;
}

.modformcontainer .error {
	font-family:semibold;
	width:70%;
}

.renameformcontainer .error {
	font-family:semibold;
	width:70%;
}

.modifyformcontainer .error {
	font-family:semibold;
	width:70%;
}

.replybottom .error {
	font-family:regular!important;
	width:95%;
	padding-top:2px;
	padding-bottom:2px;
}

.formcontainer .errorIcon {
	margin-top:4px;
}

#toparea .error {
	font-family:semibold;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:normal;
}

#modifybox {
	display:block;
	width:100%;
	padding-left:2%;
	margin:0px auto;
	border: 2px solid #e9edf0;
	border-radius:5px;
	outline:0;
	height:100px;
	resize:none;
	margin-bottom:25px;
	font-family:regular;
	font-size:16px;
}