.adminquestionhide {
	width: 9em;
	margin-top: 15px;
	height: 26px;
	background-color: white;
	border: 2px solid #CCCCCC;
	color: #CCCCCC;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
	cursor: pointer;
}

.superadminrenamebutton {
	width: 9em;
	margin-top: 15px;
	height: 26px;
	background-color: white;
	border: 2px solid #CCCCCC;
	color: #CCCCCC;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
	cursor: pointer;
}

.adminquestionmodify {
	margin-top: 15px;
	height: 26px;
	width: 9em;
	background-color: white;
	border: 2px solid #CCCCCC;
	color: #CCCCCC;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 999;
}

.superadmindeletebutton {
	margin-top: 15px;
	height: 26px;
	width: 9em;
	background-color: white;
	border: 2px solid #CCCCCC;
	color: #CCCCCC;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 999;
}

.anon-reply-bottom-button {
	color: #47c3e1;
	cursor: pointer;
	height: 26px;
	width: 9em;
	background-color: white;
	border: 2px solid #47c3e1;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 6px;
	border-radius: 5px;
}

.answer {
	background-color: #FFF;
	width: 85%;
	border: 2px solid #0F0;
	margin: .5% 2% .5% 5%;
	padding: 1%;
}

.answercontainer {
	width: 100%;
}

.answerposter {
	font-family: regular;
	text-decoration: none;
	color: #999999;
	font-size: 12px;
}

.answertext {
	font-family: light;
	text-decoration: none;
	color: #999999;
	font-size: 12px;
}

.bottomleft {
	display: inline-block;
	width: 10.6em;
}

.bottomright {
	display: inline-block;
}

#bottomquestionarea {
	width: 90%;
	background-color: #f2f4f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 0 0 5px 5px;
	padding: 0 25px;
	margin: 0 auto;
}

.countarea {
	margin-top: 16px;
	font-family: light;
	color: #999999;
	font-size: 15px;
}

.facebookbutton {
	background-image: url('/facebook.png');
	background-size: contain;
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: none;

  &:hover {
		background-image: url('/facebook_blue.png');
	}
}

.hiddenanswers {
	display: none;
}

.hiddenMessage {
	font-family: semibold;
	text-decoration: underline;
	color: #999999;
	font-size: 13px;
	cursor: pointer;
	margin-left: 7px;
}

.hiddenMessageHide {
	display: none;
	font-family: semibold;
	text-decoration: underline;
	color: #999999;
	font-size: 13px;
	cursor: pointer;
	margin-left: 7px;
}

.postername {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	padding-top: 4px;
	font-family: semibold;
	color: #777777;
	text-decoration: none;
}

.question {
  background-color: #FFF;
	border: 2px solid #e9edf0;
	width: 19em;
	padding: 0.5em;
	padding-bottom: 10px;
	margin-bottom: 1em;
	position: relative;
	display: inline-block;

	&:hover {
		.facebookbutton {
			display: inline-block;
			width: 16px;
			height: 16px;
		}

		.twitterbutton {
			display: inline-block;
			width: 16px;
			height: 16px;
		}

		.populartext {
			display: none;
		}

		.replybutton {
			border: 2px solid #999999;
			color: #999999;
		}
	}
}

.quesitonbottom {
	margin-top: 6px;
	position: relative;
}

.questiontext {
	padding-left: 8px;
	padding-top: 4px;
	margin-top: 0;
	font-family: semibold;
	font-size: 16px;
	color: #333333;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.questionLink {
	color: #2980b9;
	text-decoration: underline;

  &:hover {
		color: #3498db;
	}
}

.replybutton {
	cursor: pointer;
	width: 9em;
	background-color: white;
	border: 2px solid #CCCCCC;
	color: #CCCCCC;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding: 0.5em 0;
	border-radius: 5px;

  &:hover {
		background-color: #e3e3e3;
		border: 2px solid #999999;
		color: #999999;
	}
}

.replychecklabel {
	margin-top: 3px;
	padding: 0;
	text-align: left;
	font-family: regular;
	color: #888888;
	font-size: 14px;
}

.questionbadgecontainer {
	height: 16px;
}

.question-time {
	color: #999999;
	font-family: regular;
	font-size: 12px;
	padding-left: 3px;
	margin-top: 6px;
	margin-right: 6px;
}

.replybottom {
	display: none;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.replybottomcheck {
	padding-top: 25px;
}

.replyarea {
	width: 21em;
	display: block;
	margin: 0 auto;
	border: 0.1em solid #e9edf0;
	color: #888888;
	font-family: light;
	padding-left: 0.4em;
	font-size: 14px;
	height: 65px;
	outline: 0;
	resize: none;
}

.replyname {
	width: 10.2em;
	outline: 0;
	padding: 0.5em 0.2em;
	margin: 0;
	border-left: 0.1em solid #e9edf0;
	border-right: 0.1em solid #e9edf0;
	border-bottom: 0.1em solid #e9edf0;
	border-top: 0;
	font-family: light;
	font-size: 14px;
}

.replyemail {
	width: 10.2em;
	margin: 0;
	padding: 0.5em 0.26em;
	outline: 0;
	border-left: 0.1em solid #e9edf0;
	border-right: 0.1em solid #e9edf0;
	border-bottom: 0.1em solid #e9edf0;
	border-top: 0;
	font-family: light;
	font-size: 14px;
}

.replybottombutton {
	cursor: pointer;
	height: 26px;
	width: 9em;
	background-color: white;
	border: 2px solid #27ae60;
	color: #27ae60;
	font-size: 14px;
	font-family: semibold;
	text-align: center;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 6px;
	border-radius: 5px;

  &:hover {
		border: 2px solid #2ecc71;
		color: #2ecc71;
	}
}

.replycounter {
	font-family: light;
	color: #999999;
	font-size: 14px;
	text-align: right;
	margin-left: auto;
}

.replyfields {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.stalequestion {
	opacity: .7;
}

.stalequestiontext {
	display: inline;
	color: #CCCCCC;
	font-family: semibold;
	margin: 0;
	padding: 0;
}

.starimage {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	margin-top: -1px;
	padding-top: 0;
}

.twitterbutton {
	background-image: url('/twitter.png');
	background-size: contain;
	cursor: pointer;
	display: none;

  &:hover {
		background-image: url('/twitter_blue.png');
	}
}

.vc0 {
	background: #008;
}

.vc1 {
	background: #06a;
}

.vc2 {
	background: #088;
}

.vc3 {
	background: #070;
}

.vc4 {
	background: #9a0;
}

.vc5 {
	background: #b70;
}

.vc6 {
	background: #c00;
}

.vc7 {
	background: #f04;
}

.vc8 {
	background: #f04;
}

.voteClick {
	color: white;
	font-family: bold;
	padding: 2px 4px 2px 4px;
	font-size: 12px;
	border-radius: 3px;
	text-decoration: none;
}

#votearea {
	padding: 6px;
	font-family: semibold;
	font-size: 13px;
	color: #666666;
	display: flex;
	justify-content: space-between;
}

.voteright {
	cursor: pointer;

  &:hover {
		color: #999999;
	}
}

.votes {
	color: #fff;
	text-align: center;
	margin: 0 5px 0 0;
	padding: 2%;
}

.popularquestion {
	border: 2px solid #f1c40f;
}

.hiddenQuestion {
	border: 2px solid #FF0000;
}

.newquestion {
	border: 2px solid #27ae60;
}

.newquestiontext {
	display: inline;
	color: #27ae60;
	font-family: bold;
	margin: 0;
	padding: 0;
}

.populartext {
	color: #f1c40f;
	font-family: bold;
	margin: 0;
	padding: 0;
}
