$screen-md: 992px;
.timesectionlabel {
	font-size: 18px;
	font-weight: 600;
	color: #888888;
	margin: 20px 0 10px 0;
}

#creatediv {
	display: block;
	margin: 0px auto;
	width: 80vw;
	height: auto;
	background-color: #27b0d8;
	@media screen and (min-width: $screen-md){
		width: 55vw;
	}
}

#instancenameinput {
	width: 100%;
	padding: 0 25px;
	margin: 0 auto;
	border-radius: 5px 5px 0px 0px;
	border-width: 0;
	border-bottom: 1px solid #e3e3e3;
	height: 50px;
	color: #888888;
	font-weight: 300;
	font-size: 14px;
	display: block;
}

#instancedescriptioninput {
	width: 100%;
	padding: 0 25px;
	margin: 0 auto;
	border-width: 0;
	height: 50px;
	color: #888888;
	font-weight: 300;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #e3e3e3;
}

.emptyinputspacer {
	float: right;
	height: 2em;
}


.instancemodsinput {
	float: left;
	width: 70%;
	padding: 0px !important;
	margin: 0px !important;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 1em !important;
	font-weight: 300;
	font-size: 1em;
	display: block;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	@media screen and (min-width: $screen-md){
		width: 90%;
	}
}

textarea {
	&:focus {
		outline: 0;
	}
}

input {
	&:focus {
		outline: 0;
	}
}

.dropdownlabel {
	float: left;
	clear: both;
	color: #666666;
	font-weight: 400;
	font-size: 14px;
}

#topinputcontainer {
	height: 50px;
	display: block;
	width: 100%;
}

#instancetopinputcontainer {
	height: 100px;
	display: block;
	width: 100%;
}

#bottominputcontainer {
	height: 50px;
	display: none;
	width: 100%;
}

#instancebottominputcontainer {
	height: 30em;
	display: none;
	background-color: #f9f9f9;
	padding: 30px 25px 20px 25px;
	margin: 0 auto;
	@media screen and (min-width: $screen-md){
		height: 25em;
	}
}

.dropdowncontainer {
	width: 100%;
	display: block;
	float: left;

	@media screen and (min-width: $screen-md){
		width: 90%;
	}

  select {
		margin-top: 16px;
		float: right;
	}
}

#toparea {
	.error {
		font-weight: 600;
		padding-top: 3px;
		padding-bottom: 3px;
		font-weight: normal;
	}
}
