.timesectionlabel {
  font-size: 18px;
  border-radius: 5px;
  font-family: semibold;
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #888888;
  display: inline-block;
  margin: 0.75em;
}

#creatediv {
  display: block;
  margin: 0px auto;
  width: 700px;
  height: auto;
  background-color: #27b0d8;
}

#instancenameinput {
  width: 90%;
  padding: 0 25px;
  margin: 0 auto;
  border-radius: 5px 5px 0px 0px;
  border-width: 0;
  border-bottom: 1px solid #e3e3e3;
  height: 50px;
  color: #888888;
  font-family: light;
  font-size: 14px;
  display: block;
}

#instancedescriptioninput {
  width: 90%;
  padding: 0 25px;
  margin: 0 auto;
  border-width: 0;
  height: 50px;
  color: #888888;
  font-family: light;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #e3e3e3;
}

.emptyinputspacer {
  width: 210px;
  float: right;
  height: 50px;
}

.firstmodinput {
  border-top: 1px solid #e3e3e3!important;
}

.instancemodsinput {
  float: left;
  width: 400px;
  padding: 0px!important;
  margin: 0px!important;
  border-width: 0;
  height: 50px;
  color: #888888;
  padding-left: 20px!important;
  font-family: light;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #e3e3e3;
}

textarea:focus,
input:focus {
  outline: 0;
}

.dropdownlabel {
  float: left;
  clear: both;
}

#topinputcontainer {
  height: 50px;
  display: block;
  width: 100%;
}

#instancetopinputcontainer {
  height: 100px;
  display: block;
  width: 100%;
}

#bottominputcontainer {
  height: 50px;
  display: none;
  width: 100%;
}

#instancebottominputcontainer {
  height: 360px;
  display: none;
  width: 90%;
  background-color: #f9f9f9;
  padding: 30px 25px 20px 25px;
  margin: 0 auto;
}

.dropdowncontainer {
  width: 452px;
  padding-left: 20px;
  display: block;
  float: left;
}

.dropdownlabel {
  color: #666666;
  font-family: regular;
  font-size: 14px;
}

.dropdowncontainer select {
  margin-top: 16px;
  float: right;
}

#toparea .error {
  font-family: semibold;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
}
