<template name="home">
	<body>
		<div id="banner">Question Tool Instance Chooser</div>
		<br/><br/>
		<div id="wrapper" style="text-align: center;">
			<center>
				<div class="center">
					<div class="columnhead">
						Choose an instance
					</div>
					<br/>					
					<table width="100%">
						<tr>
							<td>
								<b>Choose which instance of the question tool you would like to see:</b>
							</td>
							<td>
								{{> instanceoptions}}
							</td>
						</tr>
					</table>
					<p align="center">
						{{> submitbutton}}
					</p>
					<input type="hidden" name="submit_check" value="1" />
					<div class="columnhead">
						OR
					</div>
					<br />
					<p style="text-align:center;">
						<a href="/create">Create a new instance</a>
					</p>
					{{#if hasCookie}}
						<p align="center">
							<a href="/list">Return to the list</a>
						</p>
					{{/if}}
					{{#if toolAdmin}}
						<p align="center">
							<a href="/dashboard">Admin dashboard</a>
						</p>
						<p align="center">
							<a id="logoutbutton">Logout as admin</a>
						</p>
					{{else}}
						<p align="center">
							<a href="/admin">Login as admin</a>
						</p>
					{{/if}}
				</div>
			</center>
		</div>
	</body>
</template>

<template name="instanceoptions">
	<select name="tablename" size="1">
		{{#each instances}}
		<option value="{{name}}">{{tablename}}</option>
		{{/each}}
	</select>
</template>

<template name="submitbutton">
	<button id="submitbutton">Submit</button>
</template>