@font-face {
	src:url('/SourceSans/SourceSansPro-Bold.ttf');
	font-family:bold;
}

@font-face {
	src:url('/SourceSans/SourceSansPro-Regular.ttf');
	font-family:regular;
}

@font-face {
	src:url('/SourceSans/SourceSansPro-Semibold.ttf');
	font-family:semibold;
}

@font-face {
	src:url('/SourceSans/SourceSansPro-Light.ttf');
	font-family:light;
}