textarea, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Source Sans Pro';
  font-size: 14px;
	background-color: #f2f4f5;
	margin: 0;
	padding: 0;
}

a {
	color: #888888;
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.adminbottom {
	display: flex;
	justify-content: space-between;
}

.header {
	width: 100%;
}

.divLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
}

.center {
	background-color: #f5f5f0;
	width: 80%;
	text-align: left;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 .5%;
	padding: 5px;
}

.masonary-wrapper {
  padding: 0;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
	padding: 0 0 4em 0;
}

.formcontainer {
	display: none;
	background-color: #FFF;
	border: 2px solid #e9edf0;
	border-radius: 5px;
	height: auto;
	display: block;
	width: 35%;
	margin-top: 120px;
	margin-bottom: 120px;
	z-index: 9999999999999999;
	position: fixed;
	top: 0;
	left: 32%;
	max-height: calc(100vh - 200px);
    overflow-y: auto;

  .errorIcon {
		margin-top: 4px;
	}
}

#loginsubmitbutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

#registersubmitbutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

#shareclosebutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

#modsdonebutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

.combinesubmitbutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

.renamesubmitbutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

.modifysubmitbutton {
	width: 40%;
	display: block;
	height: 30px;
	margin: 0px auto;
	background-color: #2ecc71;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 5px;

  &:hover {
		background-color: #4cd785;
	}
}

.formtitle {
	font-weight: 600;
	color: #333333;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 0px;
}

.inputcontainer {
	width: 80%;
	display: block;
	margin: 0px auto;
}

.input {
	display: block;
	width: 100%;
	padding-left: 2%;
	margin: 0px auto;
	border: 2px solid #e9edf0;
	border-radius: 5px;
	outline: 0;
	height: 35px;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 16px;

  &:focus {
		border: 2px solid #7ec3f1;
	}
}

.time {
	color: #999999;
	font-weight: 400;
	font-size: 12px;
	float: right;
}

.modaltopmessage {
	color: #777777;
	font-weight: 300;
	display: block;
	margin: 0px auto;
	padding: 1em 1em 0 1em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.modalbottommessage {
	color: #666666;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
}

.modalemphasis {
	color: #333333;
	text-decoration: underline;
	cursor: pointer;
	display: inline;

  &:hover {
		color: #666666;
	}
}

#darker {
	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .9;
	overflow: hidden;
	z-index: 999999999999999;
	cursor: pointer;
}

.checkbox {
	height: 17px;
	width: 20px;
	margin-left: 6px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #999999;
	cursor: pointer;
	padding-top: 3px;
	float: left;
	margin-right: 0px;
	padding-right: 0px;
}

.checked {
	width: 14px;
	height: 14px;
	margin: 0px auto;
	background-color: #27b0d8;
	border-radius: 2px;
	display: none;
}

.checkboxlabel {
	margin-top: 3px;
	padding: 0px;
	text-align: left;
	font-weight: 400;
	color: #888888;
	font-size: 12px;
}

.anonchecked {
	background-color: #27ae60;
}

.checkarealeft {
	width: auto;
	float: left;
}

.checkarearight {
	width: auto;
	float: left;
	margin-left: 5px;
}

#checkareas {
	flex-grow: 1;
}

#checkarea1 {
	padding-top: 13px;
}

#buttonarea {
	width: 150px;
	height: 25px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #27ae60;
	color: white;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;

  &:hover {
		background-color: #2ecc71;
	}
}

#checkarea2 {
	width: 180px;
	float: left;
	padding-top: 13px;
}

#toparea {
	background-color: #27b0d8;
	height: auto;
	display: none;
	padding-bottom: 65px;
	padding-top: 55px;
}

.hiddeninput {
	display: none;
}

.visibleinput {
	display: inline-block;
}

#rightInfo {
	margin: 0 1em;
}

.instance-wrapper {
  width: 22em;
  margin: 0 0.5em;
  cursor: auto;

  &, div, span, a {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}


.plusbutton {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #33a136;
	margin-top: 0.6em;
	color: white;
	font-size: 20px;
	padding-top: 0px;
	text-align: center;
	font-weight: 600;
	margin-left: 10px;

  &:hover {
		background-color: #55c958;
	}
}

.removebutton {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 2px;
	cursor: pointer;
	background-color: red;
	margin-top: 15px;
	color: white;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
	margin-left: 10px;
	font-weight: 600;
}

.plusbuttoncontainer {
	width: 51px;
	height: 50px;
}

#recent {
	padding-bottom: 45px;
}


