$footer-bg-color: #293340;

#footer {
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: $footer-bg-color;
  padding-top: 20px;
	padding-bottom: 20px;

  ul {
    list-style: none;
    margin: 0 54px;
    padding: 0;

    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 14px;
      }

      a {
    		color: #fff;
    	}
    }
  }
}
