#footercredits {
	a {
		color: white;
	}
}

#footercontainer {
	left: 0;
	right: 0;
	bottom: 0;
	height: 45px;
	position: absolute;
	background-color: #293340;
	padding-bottom: 10px;
	padding-top: 8px;
	text-align: center;

	p {
		color: white;
		font-family: semibold;
		cursor: pointer;
	}
}
