<template name="delete">
	<body>
		<div id="wrapper">						
			<center>
				<div class="center">
					<div class="columnhead">
						Delete this instance
					</div>
					<br/>
					<table>
						<tr>
							<td>
								<b>Clicking the button at right will delete this instance ({{tablename}}) from the database. You will not be able to get your data back, so make a record of it first.</b>
							</td>
							<td>
								<button id="submitbutton">Delete</button>
							</td>
						</tr>
					</table>
					<br/>
					<p style="text-align: center;">
						<a href="/list">Return to the list</a>
					</p>
				</div>
			</center>
		</div>
	</body>
</template>