.modaltopmessage > h2 {
  line-height: 25px;
  margin-top: 5px;
  color: black;
}

.qr_codeouter {
  padding: 10px;
  background-color: #FFF;
  border: 2px solid #e9edf0;
  border-radius: 5px;
  display: block;
  width:40%;
  height:80%;
  min-height: 600px;
  margin-top: 5%;
  left: 25%;
  margin-bottom: 5%;
  z-index: 2147483647;
  position: fixed;
  top: 0;
  max-height: calc(100vh - 200px);
  .errorIcon {
         margin-top: 4px;
  }
}

canvas {
  height: 100%;
  width: 100%;
}
