.modaltopmessage > h2 {
  line-height: 25px;
  margin-top: 5px;
}

.formcontainer {
  width: auto !important;
  height: auto !important;
}

.qr_codeouter {
  text-align: center;
}

.qr_codecontainer {
  display: inline-block;
}
