<template name="userInfo">
	<div id="banner">
		<h1 id="tablename">
			{{this.title}}
		</h1>
		<input id="searchbar" type="text" placeholder="Search...">
		<div id="rightInfo">
			<ul id="navbuttons">
				<a href="/">
					<li>Home</li>
				</a>
				{{#if this.list}}
					<li>
						<div id="navShare">
							Share
						</div>
					</li>
				{{/if}}
				<!--<a href="/propose">
					<li>Ask</li>
				</a>-->
				{{#if this.list}}
					<a href="/rss/{{tablename}}">
						<li>RSS</li>
					</a>
				{{/if}}
				<a href="/report">
					<li>Archive</li>
				</a>
			</ul>
			{{#if currentUser}}
				<div id="navProfile">
					Hi, {{currentUser.profile.name}}!
				</div>
				<div id="navLogout">
					Log out
				</div>
				{{#if this.list}}
					<div id="navAsk">
						+ Ask
					</div>
				{{else}}
					<div id="navCreate">
						+ Create
					</div>
				{{/if}}
			{{else}}
				<div id="navLogin">
					Sign in
				</div>
				<div id="navRegister">
					Sign up
				</div>
				{{#if this.list}}
					<div id="navAsk">
						+ Ask
					</div>
				{{else}}
					<div id="navCreate">
						+ Create
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>