<template name="register">
	<div id="darker">
	</div>
	<div class="formcontainer">
		{{> close_button}}
		<h1 class="formtitle">Register</h1>
		<div class="modaltopmessage">
			Create an account to save your information, add favorites, and create Question Tool instances.
		</div>
		<div class="inputcontainer">
			<input type="email" id="loginemail" spellcheck="false" class="input" placeholder="Email..." pattern=".{7,50}" required>
			<input type="text" pattern="^[a-zA-Z0-9-_\s]{2,30}$" id="loginname" spellcheck="false" class="input" placeholder="Name..." required>
			<input type="password" pattern=".{6,30}" id="passwordbox" class="input" placeholder="Password..." required>
			<input type="password" id="passwordconfirm" class="input" placeholder="Confirm password..." required>
			<div class="modalbottommessage">
				Already have an account? <p class="modalemphasis" id="loginemphasis">Log in</p>
			</div>
			<div id="registersubmitbutton">
				Register
			</div>
		</div>
	</div>
</template>
