<template name="register">
	<div id="darker">
	</div>
	<div class="formcontainer">
		{{> close_button}}
		<h1 class="formtitle">Sign Up</h1>
		<div class="modaltopmessage">
			Create an account to save your information, add favorites, and create Question Tool instances.
		</div>
		<div class="inputcontainer">
			<input type="email" id="loginemail" spellcheck="false" class="input" placeholder="Email" pattern=".{7,50}" required>
			<input type="text" pattern=".{3,30}" id="loginname" spellcheck="false" class="input" placeholder="Name" required>
			<input type="password" pattern=".{6,30}" id="passwordbox" class="input" placeholder="Password" required>
			<input type="password" id="passwordconfirm" class="input" placeholder="Confirm password" required>
			<div id="registersubmitbutton">
				Sign Up
			</div>
			<div class="modalbottommessage">
				Already have an account? <br> <p class="modalemphasis" id="loginemphasis">Sign in</p>
			</div>
		</div>
	</div>
</template>