<template name="register">
	<body>
	    <div id="banner">
			<h1 id="tablename">
				Question Tool Register
			</h1>
	    </div>
		<div id="recent">
			<div class="formcontainer">
				<h1 class="formtitle">Register</h1>
				<div class="inputcontainer">
					<input type="text" id="loginemail" class="input" placeholder="Email...">
					<input type="text" id="loginname" class="input" placeholder="Name...">
					<input type="password" id="passwordbox" class="input" placeholder="Password...">
					<input type="password" id="passwordconfirm" class="input" placeholder="Confirm password...">
					<div id="submitbutton">
						Login
					</div>
				</div>
			</div>
		</div>
		<!--<br />
	    <br />
	    <div id="wrapper">
            <div class="center">
                <div class="columnhead">
                    Question Tool Register
                </div>
				<br />
                <table width="100%">
                    <tr>
                        <td style="font-weight: bold">
							Your email:
						</td>
                        <td>
							<input id="loginemail" maxlength="30" name="poster" type="text">
						</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">
							Your name:
						</td>
                        <td>
							<input id="loginname" maxlength="30" name="poster" type="text">
						</td>
                    </tr>
			        <tr>
			            <td style="font-weight: bold">
							Your password:
						</td>
			            <td>
							<input id="passwordbox" maxlength="50" type="password">
						</td>
			        </tr>
			        <tr>
			            <td style="font-weight: bold">
							Confirm password:
						</td>
			            <td>
							<input id="passwordconfirm" maxlength="50" type="password">
						</td>
			        </tr>
	        	</table>
                <p style="text-align: center">
					<button id="submitbutton">Submit</button>
					<input name="submit_check" type="hidden" value="1">
				</p>
                <p style="text-align: center">
					<a href="/list">Return to the list</a>
				</p>
            </div>
			<br />
	    </div>-->
	</body>
</template>