<template name="answer">
    <body>
        <div id="banner">Question Tool Answer Form</div>
        <br />
		<br />
        <div id="wrapper">
            <center>
                <div class="center">
                    <div class="columnhead">Post an answer</div>
                    <br/>
                    <table width="100%">
                        <tr>
                            <td>
								<b>The question was...</b>
								<br/>
							</td>
							{{this.text}}
                            <td>
								{{question}}
								<br/>
								<br/>
							</td>
                        </tr>
                        <tr>
                            <td>
								<b>Please post your answer. There is a limit of 255 characters.</b>
							</td>
                            <td>
								<textarea name="comment" rows = "4" cols="40">{{answer}}</textarea>
							</td>
                        </tr>
						{{#if currentUser}}
							{{> filledInput}}
						{{else}}
							<tr>
		                        <td>
									<b>Your name (optional): </b>
								</td>
		                        <td>
									<input type="text" name="poster" maxlength="30">
								</td>
	                        </tr>
							<tr>
		                        <td>
									<b>Your email address (optional): </b>
								</td>
		                        <td>
									<input id="emailbox" type="text" name="email" maxlength = "50">
								</td>
	                        </tr>
						{{/if}}
                    </table>
                    <p align="center">
                        <button id="submitbutton">Submit</button>
                        <input type="hidden" name="submit_check" value="1" />
                    </p>
                    <p align="center">
						<a href="/list">Return to the list</a>
					</p>
                </div>
            </center>
        </div>
    </body>
</template>