<template name="answers">
	<div id="darker">
	</div>
	<div class="formcontainer replycontainer">
		{{> close_button}}
		<div class="formtitle replytitle">
    <span class="reply-letter">Q:</span>
    <span class="reply-question-text">{{question.text}}</span>
    <br>
    <span class="reply-question-asker">— {{question.poster}} <span class="reply-question-time">({{date_format question.timeorder}})</span></span>
    </div>
		<div class="modaltopmessage">
      <div class="modalanswers answers">
        {{#each answers}}
        <div class="question-answer">
        {{#if poster}}
          <span class="answerposter">  
            {{#if email}}
              <a href="mailto:{{email}}">{{poster}}:</a>
            {{else}}
              {{poster}}:
            {{/if}}    
          </span>
          <span class="answerdate" title="{{date_format timeorder}}">{{#if timeorder}}{{time_format timeorder}}{{/if}}</span>
          <br>
          {{/if}}
          <span class="answertext"> {{{text}}}</span>
        </div>
        {{/each}}
      </div>
		</div>
	</div>
</template>
