#loadingSpinner {
	display: block;
	margin: 0px auto;
	width: 100px;
	height: 100px;
	margin-top: 125px;
}

#loadingText {
	font-weight: normal;
	width: 100%;
	text-align: center;
	font-family: bold;
	color: #274450;
}
