.instancetitle {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
	margin-bottom: 0;
	margin-top: 30px;
	padding-bottom: 0;
	padding-left: 5px;
	color: #333333;
	font-size: 24px;
	font-weight: 700;
}

#questiondiv {
  padding: 0 20px;
	display: block;
	margin: 0px auto;
	height: auto;
	background-color: #27b0d8;
}

#questioninput {
	width: 100%;
	height: 110px;
	font-size: 15px;
	border-width: 0;
	padding: 20px 20px 20px 30px;
	color: #888888;
	font-weight: 300;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e3e3e3;
	margin: 0 auto;
	display: block;
	resize: none;
}

#questionnameinput {
	float: left;
	width: 330px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 300;
	font-size: 14px;
	display: block;
}

#questionpasswordinput {
	float: left;
	width: 330px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	font-weight: 300;
	font-size: 14px;
	display: block;
	border-right: 1px solid #e3e3e3;
	border-top: 0px;
	border-bottom: 1px solid #e3e3e3;
}

#questionconfirminput {
	float: left;
	width: 329px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	font-weight: 300;
	font-size: 14px;
	display: block;
	border-top: 0px;
	border-bottom: 1px solid #e3e3e3;
}

#questionemailinput {
	float: right;
	width: 329px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	border-left: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 300;
	font-size: 14px;
	display: block;
}

#hiddenName {
	display: none;
	text-align: center;
	padding-top: 10px;
	color: #333333;
	font-size: 24px;
	font-weight: 700;
}

.admincontainer {
	flex-direction: column;
	width: 76%;
	height: auto;
	background-color: #e3e3e3;
	border: 2px solid #CCCCCC;
	margin: 1em auto;
	padding: 1em;
	border-radius: 5px;
	display: none;

  h2 {
		color: #333333;
		font-size: 1.4em;
		font-weight: 700;
		margin: 0px;
		padding: 0px;
	}

  p {
		color: #444444;
		font-weight: 400;
		font-size: 1em;
		margin-bottom:1em;
	}
}

.new-posts {
	width: 10em;
	background-color: #e3e3e3;
	border: 2px solid #CCCCCC;
	padding: 0.75em;
	display: block;
	margin: 25px auto;
	border-radius: 5px;
	text-align: center;
}

.modcontainer {
	padding-bottom: 15px;
}


#admin-button-list {
	list-style: none;
	li {
		display: inline-block;
		float: left;
		background-color: #666666;
		border: 2px solid #999999;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		cursor: pointer;
		margin: 0.3em;
		padding: 5px 10px 5px 10px;
		font-weight: 400;
		font-size: 1em;

	  &:hover {
			background-color: #888888;
		}
	}
}

.replybottom {
	.error {
		font-weight: 400;
		width: 95%;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
