<template name="list">
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="liststyle.css" />
		<meta http-equiv="PRAGMA" content="NO-CACHE" />
		<meta content="text/html; charset=iso-8859-1" />
		<link rel="alternate" type="application/rss+xml" href="/rss/{{tablename}}"/>
		<title>Live Question Tool</title>
	</head>
	<body>
		<div id="wrapper">
			<div id="banner">Live Question Tool: {{tablename}}</div>
			<br />
			<div style="text-align: center;">
				{{#if admin}}
					<h2>Admin Interface</h2>
					<a id="unhidebutton">Unhide all questions</a> :: 
					<a href="/delete">Delete this instance</a> ::
					<a id="logoutbutton">Logout</a><br/>
					<hr width="70%"/>
				{{/if}}
				<p>{{ description }}</p>
				<a href="/propose">Post a question</a> :: 
				<a href="/">Choose a different instance</a> ::
				<a href="/report">Archived questions</a> :: 
				<a href="/rss/{{tablename}}"><img src="/rss.gif" alt="xml icon" /></a>
			</div>
			<div id="popular">
				<div class="columnhead">Active Questions</div>
				<div class="subcolumn">
					{{#each question}}
						{{#if disabled}}
						{{else}}
							{{#if popular}}
								{{#if indexOne}}
									<div class="question {{shade}} {{age_marker}}">
										<div class="votes v{{shade}}">
											<a class="voteClick" id="{{_id}}"  href="{{votelink}}">{{votes}}<br>votes</a>
										</div>
										{{#if poster}}
											{{#if email}}
												<b><a href="mailto:{{email}}">{{poster}}</a>: </b>
											{{else}}
												<b>{{poster}}: </b>
											{{/if}}
										{{/if}}
										{{text}}
										<br />
										{{#each answer}}
											{{#if poster}}
												{{#if email}}
												<br>
													<b>&#160;&#160;&#160;&#160;&#160;<a href="mailto:{{email}}">{{poster}}</a>: </b>
												{{else}}
													<b>{{poster}}: </b>
												{{/if}}
											{{/if}}
											{{text}}
										{{/each}}
										<br />
										<span style="float:right;text-align:right;width:25em">
											{{f_time}}
											:: <a href="{{answerlink}}">Reply</a>
											{{#if admin}}
												:: <a class="hideQuestion" id="{{_id}}">Hide</a>
												:: <a href="{{modifylink}}">Modify</a>
											{{/if}}
										</span>
									</div>
								{{/if}}
							{{/if}}
						{{/if}}
					{{/each}}
				</div>
		<div class="subcolumn">
			{{#each question}}
				{{#if disabled}}
				{{else}}
					{{#if popular}}
						{{#if indexOne}}
						{{else}}
							<div class="question {{shade}} {{age_marker}}">
								<div class="votes v{{shade}}">
									<a class="voteClick" id="{{_id}}" href="{{votelink}}">{{votes}}<br />votes</a>
								</div>
								{{#if poster}}
									{{#if email}}
										<b><a href="mailto:{{email}}">{{poster}}</a>: </b>
									{{else}}
										<b>{{poster}}: </b>
									{{/if}}
								{{/if}}
								{{text}}
								<br />
								{{#each answer}}
									{{#if poster}}
										{{#if email}}
										<br>
											<b>&#160;&#160;&#160;&#160;&#160;<a href="mailto:{{email}}">{{poster}}</a>: </b>
										{{else}}}
											<b>{{poster}}: </b>
										{{/if}}
									{{/if}}
									{{text}}
								{{/each}}
								<br />
								<span style="float: right; text-align: right; width: 25em">
									{{f_time}}
									:: <a href="{{answerlink}}">Reply</a>
									{{#if admin}}
										:: <a class="hideQuestion" id="{{_id}}">Hide</a>
										:: <a href="{{modifylink}}">Modify</a>
									{{/if}}
								</span>
							</div>
						{{/if}}
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
	</div>
	</div>
		<div id="recent">
			<div class="columnhead">Most Recently Submitted Questions</div>
			<div class="subcolumn">
				{{#each question}}
					{{#if disabled}}
					{{else}}
						{{#if popular}}
						{{else}}
							{{#if indexOne}}
								<div class="question {{shade}} {{age_marker}}">
									<div class="votes v{{shade}}">
										<a class="voteClick" id="{{_id}}" href="{{votelink}}">{{votes}}<br />votes</a>
									</div>
									{{#if poster}}
										{{#if email}}
											<b><a href="mailto:{{email}}">{{poster}}</a>: </b>
										{{else}}
											<b>{{poster}}: </b>
										{{/if}}
									{{/if}}
									{{text}}
									<br />
									{{#each answer}}
										{{#if poster}}
											{{#if email}}
											<br>
												<b>&#160;&#160;&#160;&#160;&#160;<a href="mailto:{{email}}">{{poster}}</a>: </b>
											{{else}}
												<b>{{poster}}: </b>
											{{/if}}
										{{/if}}
										{{text}}
									{{/each}}
									<br />
									<span style="float: right; text-align: right; width:25em">
										{{f_time}}
										:: <a href="{{answerlink}}">Reply</a>
										{{#if admin}}
											:: <a class="hideQuestion" id="{{_id}}">Hide</a>
											:: <a href="{{modifylink}}">Modify</a>
										{{/if}}
									</span>
								</div>
							{{/if}}
						{{/if}}
					{{/if}}
				{{/each}}
			</div>
			<div class="subcolumn">
				{{#each question}}
					{{#if disabled}}
					{{else}}
						{{#if popular}}
						{{else}}
							{{#if indexOne}}
							{{else}}
								<div class="question {{shade}} {{age_marker}}">
									<div class="votes v{{shade}}">
										<a class="voteClick" id="{{_id}}" href="{{votelink}}">{{votes}}<br />votes</a>
									</div>
									{{#if poster}}
										{{#if email}}
											<b><a href="mailto:{{email}}">{{poster}}</a>: </b>
										{{else}}
											<b>{{poster}}: </b>
										{{/if}}
									{{/if}}
									{{text}}
									<br />
									{{#each answer}}
										{{#if poster}}
											{{#if email}}
											<br>
												<b>&#160;&#160;&#160;&#160;&#160;<a href="mailto:{{email}}">{{poster}}</a>: </b>
											{{else}}
												<b>{{poster}}: </b>
											{{/if}}
										{{/if}}
										{{text}}
									{{/each}}
									<br />
									<span style="float: right; text-align: right; width: 25em">
										{{f_time}}
										:: <a href="{{answerlink}}">Reply</a>
										{{#if admin}}
											:: <a class="hideQuestion" id="{{_id}}">Hide</a>
											:: <a href="{{modifylink}}">Modify</a>
										{{/if}}
									</span>
								</div>
							{{/if}}
						{{/if}}
					{{/if}}
				{{/each}}
			</div>
		</div>
		<p style="text-align: center;">
			{{#if admin}}
			{{else}}
				<a href="/login">Login to Admin Interface</a> ::
			{{/if}}
			<a href="/create">Create a new instance</a> ::
			<a href="/credits">Question Tool Credits</a>
		</p>
	</body>
</template>