.instancetitle {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
	margin-bottom: 0;
	margin-top: 30px;
	padding-bottom: 0;
	padding-left: 5px;
	color: #333333;
	font-size: 24px;
	font-family: bold;
}

#questiondiv {
	display: block;
	margin: 0px auto;
	height: auto;
	background-color: #27b0d8;
}

#questioninput {
	width: 90%;
	height: 110px;
	font-size: 15px;
	border-width: 0;
	padding: 20px 20px 20px 30px;
	color: #888888;
	font-family: light;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e3e3e3;
	margin: 0 auto;
	display: block;
	resize: none;
}

#questionnameinput {
	float: left;
	width: 330px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	border-bottom: 1px solid #e3e3e3;
	font-family: light;
	font-size: 14px;
	display: block;
}

#questionpasswordinput {
	float: left;
	width: 330px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	font-family: light;
	font-size: 14px;
	display: block;
	border-right: 1px solid #e3e3e3;
	border-top: 0px;
	border-bottom: 1px solid #e3e3e3;
}

#questionconfirminput {
	float: left;
	width: 329px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	font-family: light;
	font-size: 14px;
	display: block;
	border-top: 0px;
	border-bottom: 1px solid #e3e3e3;
}

#questionemailinput {
	float: right;
	width: 329px;
	padding: 0;
	margin: 0;
	border-width: 0;
	height: 50px;
	color: #888888;
	padding-left: 20px;
	border-left: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	font-family: light;
	font-size: 14px;
	display: block;
}

#hiddenName {
	display: none;
	text-align: center;
	padding-top: 10px;
	color: #333333;
	font-size: 24px;
	font-family: bold;
}

.admincontainer {
	width: 76%;
	background-color: #e3e3e3;
	border: 2px solid #CCCCCC;
	display: block;
	margin: 25px auto;
	padding: 1.5% 2% 1.5% 2%;
	border-radius: 5px;
	padding-bottom: 50px;
	display: none;

  h2 {
		color: #333333;
		font-size: 20px;
		font-family: bold;
		margin: 0px;
		padding: 0px;
	}

  p {
		color: #444444;
		font-family: regular;
		font-size: 16px;
	}
}

.modcontainer {
	padding-bottom: 15px;
}

.adminbutton {
	display: block;
	float: left;
	background-color: #666666;
	border: 2px solid #999999;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
	padding: 5px 10px 5px 10px;
	font-family: regular;
	font-size: 14px;

  &:hover {
		background-color: #888888;
	}
}

.instancedescription {
	font-family: light;
	text-decoration: none;
	color: #999999;
	font-size: 14px;
}

.replybottom {
	.error {
		font-family: regular;
		width: 95%;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
