
.buttonFavorite {
	background-image: url('/heart_filled.png') !important;
}


.instancedescription {
	font-weight: 300;
	text-decoration: none;
	color: #999999;
	font-size: 14px;
}

.favorite-instance {
	border: 2px solid #ec4f4f;
}

.favoritebutton {
  float: right;
	background-image: url('/heart_empty.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	cursor: pointer;
	z-index: 20;
	position: relative;
}

.instance-bottom{
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	left: 0.5em;
	.posted-by-text {
	  color: #999;
	}
}


.instance {
	background-color: #FFF;
	border-radius: 4px;
  	border: 1px solid #e9edf0;
	padding: 8px 12px;
  	margin-bottom: 12px;
	position: relative;
	word-break: break-all;
	min-height: 10em;
}

.instancename {
	font-weight: 600;
	font-size: 20px;
	color: #333333;
	margin: 0 0 1px 0;
}

.instancebadgecontainer {
	font-weight: bold;
}

.mod-container{
	color: #754B75;
}

.admin-container{
	color: #f39c12;
}
