

.adminbottom{
	background-color: #eee;
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border-radius: 5px;
	margin-top: 0.3em;
}

.adminbottom div{
	text-transform: uppercase;
	font-weight: bold;
	color: #2c3e50;
	font-size: 0.85em;
	cursor: pointer;
	transition-duration: 0.3s;
	&:hover{
		opacity: 0.7;
	}
}


.instancedescription {
	font-weight: 300;
	text-decoration: none;
	color: #999999;
	font-size: 14px;
}

.favorite-instance {
	border: 2px solid #ec4f4f;
}

.favebtn{
	float: right;
	color: #ec4f4f;
	cursor: pointer;
	font-size: 1.3em;
}

.instance-bottom{
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	left: 0.5em;
	.posted-by-text {
	  color: #999;
	}
}


.instance {
	background-color: #FFF;
	border-radius: 4px;
  	border: 1px solid #e9edf0;
	padding: 8px 12px;
  	margin-bottom: 12px;
	position: relative;
	word-break: break-all;
	min-height: 10em;
}

.instancename {
	font-weight: 600;
	font-size: 20px;
	color: #333333;
	margin: 0 0 1px 0;
}

.instancebadgecontainer {
	font-weight: bold;
}

.mod-container{
	color: #754B75;
}

.admin-container{
	color: #f39c12;
}
