.adminimage {
	width: 14px;
	height: 14px;
	display: inline-block;
}

.admintext {
	color: #f1c40f;
	font-weight: 700;
	display: inline-block;
}

.buttonFavorite {
	background-image: url('/heart_filled.png') !important;
}

.description {
	display: block;
	margin: 0 auto;
	padding: 0 20px;
	color: #999999;
	font-weight: 600;
}

.favorite-instance {
	border: 2px solid #ec4f4f;
}

.favoritebutton {
  float: right;
	background-image: url('/heart_empty.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	cursor: pointer;
	z-index: 20;
}

.instance {
	background-color: #FFF;
	border-radius: 4px;
  border: 1px solid #e9edf0;
	padding: 8px 12px;
  margin-bottom: 12px;
	position: relative;
}

.instancename {
	font-weight: 600;
	font-size: 20px;
	color: #333333;
	margin: 0 0 1px 0;
}

.modimage {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 4px;
	margin-top: -1px;
	padding-top: 0;
}

.instancebadgecontainer {
}
