<template name="ResetPassword">
  	<div id="darker">
  	</div>
  	<div class="formcontainer">
  		{{> close_button}}
  		<h1 class="formtitle">Reset Password</h1>
  		<div class="modaltopmessage">
  			Enter your registered email address
  		</div>
  		<div class="inputcontainer">
        <input id="resetPassword" name="password" placeholder="New Password" class="input" type="password" spellcheck="false" required>
        <input id="resetPasswordConfirm" name="password-confirm" placeholder="Confirm" class="input" type="password" spellcheck="false" required>
  			<div class="modalbottommessage">
  				Already have an account? <p class="modalemphasis" id="loginemphasis">Log in</p>
  			</div>
  			<div id="resetpasswordsubmitbutton">
  				Reset
  			</div>
  		</div>
  	</div>
</template>
