<template name="instance_div">
	<div id="{{_id}}" class="instance {{#if isFavorite}}favoriteInstance{{/if}}">
		{{#if isAdmin}}
			<div class="instancebadgecontainer">
				<img src="/admin.png" class="adminimage">
				<p class="populartext">Admin</p>
			</div>
		{{else}}
			{{#if isMod}}
				<div class="instancebadgecontainer">
					<img src="/mod.png" class="modimage">
					<p class="populartext">Mod</p>
				</div>
			{{/if}}
		{{/if}}
		<p class="instancename">
			{{tablename}}
		</p>
		{{#if currentUser}}
			<div class="favoritebutton {{#if isFavorite}}buttonFavorite{{/if}}" id="{{_id}}">
			</div>
		{{/if}}
		<div class="answercontainer">
			<span class="instancedescription">
				{{description}}
			</span>
		</div>
		<div class="quesitonbottom">
			<div class="bottomleft">
				<p class="postername">
					{{author}}
				</p>
				<span class="time">{{lasttouch}}</span>
			</div>
		</div>
	</div>
</template>