<template name="credits">
	<div class="creditsformcontainer">
		{{> close_button}}
		<h1 class="formtitle">About Question Tool</h1>
		<div id="creditstext">
			<span class="boldcreditstext">Version:</span>
			<br/>
			0.6
			<br/>
			<br/>
			Source:
			<br/>
			<a href="https://github.com/berkmancenter/question_tool" target="_blank">Github Repository</a>
			<br/>
			<br/>
			<span class="boldcreditstext">Thanks to:</span>
			<br/>
			<a href="http://www.zagaja.com/">Matt Zagaja</a> - Developer
			<br/>
			<a href="http://twitter.com/nickrubin" target="_blank">Nick Rubin</a> - Developer
			<br/>
			Dan Cohen - PHP version Developer
			<br/>
			David Russcol - PHP version Developer
			<br/>
			Jonathan Zittrain - Father of the Question Tool
			<br/>
			<a href="https://cyber.harvard.edu" target="_blank">The Berkman Klein Center for Internet & Society</a> - Hosting, Funding and Support
			<br/>
			<a href="http://law.harvard.edu/about/administration/its/">HLS ITS</a> - Support
			<br/>
			<br/>
			<span class="creditstitle">Bugs</span>
			<br/>
			Please report them to the <a href="https://github.com/berkmancenter/question_tool/issues" target="_blank">github issue tracker</a>.
			<br/>
			<br/>
			<span class="creditstitle">Administrative</span>
			<span class="boldcreditstext">Copyright</span>
			<br/>
			© 2016 President and Fellows of Harvard College
			<br/>
			<br/>
			<span class="boldcreditstext">License</span>
			<br/>
			Question Tool is licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU General Public License</a>.
		</div>
	</div>
</template>
