#creditstext {
	color: #777777;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	padding: 0;
	line-height: 1.5em;
	width: 80%;
	margin-top: 25px;
	margin-bottom: 35px;

	a {
		text-decoration: underline;
	}
}

.creditsformcontainer {
	position: fixed;
	background-color: black;
	top: 1%;
	left: 30%;
	width: 40%;
	opacity: .9;
	overflow: hidden;
	z-index: 999999999999999;
	cursor: pointer;
}

@media screen and (max-width: 667px) {
	.creditsformcontainer {
		background-color: black;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .9;
		overflow: hidden;
		z-index: 999999999999999;
		cursor: pointer;
	}
}
