<template name="credits">
	<div id="darker">
	</div>
	<div class="creditsformcontainer">
		{{> close_button}}
		<h1 class="formtitle">About Question Tool</h1>
		<div id="creditstext">
			<span class="boldcreditstext">Version:</span>
			<br/>
			1.6
			<br/>
			<br/>
			Source:
			<br/>
			<a href="#" target="_blank">Github Repository</a>
			<br/>
			<br/>
			<span class="boldcreditstext">Thanks to:</span>
			<br/>
			Dan Collis-Puro - First Lead Developer
			<br/>
			Justin Clark - Second Lead Developer
			<br/>
			Tomas Reimers - Developer
			<br/>
			Brian 'Phunk' Gadoury - Developer
			<br/>
			<br/>
			<span class="creditstitle">Bugs</span>
			<br/>
			Please report them to the <a href="#" target="_blank">github issue tracker</a>.
			<br/>
			<br/>
			<span class="creditstitle">Administrative</span>
			<span class="boldcreditstext">Copyright</span>
			<br/>
			© 2011 - 2015 President and Fellows of Harvard College
			<br/>
			<br/>
			<span class="boldcreditstext">License</span>
			<br/>
			Question Tool is licensed under the...
			<br/>
			<br/>
			<span class="boldcreditstext">Terms of service</span>
			<br/>
			The Question Tool terms of service can be found on the...
		</div>
	</div>
</template>

<!--<template name="credits">
	<body>
		<div id="banner">
			Question Tool Credits
		</div>
		<br />
		<br />
		<div id="wrapper">							
			<center>
				<div class="center">
					<br/>
					<p>The question tool was conceived by Professor Jonathan Zittrain and first coded by David Russcol. This version, published in August of 2015, was coded by <a href="http://twitter.com/nickrubin" target="_blank">Nick Rubin</a>. Additional thanks and huge props to Team Nesson and the folks at the Berkman Center, and especially to Denise Grey and Ken Martin and everyone at Harvard Law School ITS.
						<br />
					</p>
					<p>
						This software is available under the GNU Public License.
						<br />
						<br />
						<a href="/list">Return to the list</a>
					</p>
				</div>
			</center>
		</div>
	</body>
</template>-->
