#creditstext {
	color:#777777;
	font-family:regular;
	text-align:center;
	font-size:14px;
	display:block;
	margin:0px auto;
	padding:0px;
	line-height:1.5em;
	width:80%;
	margin-top:25px;
	margin-bottom:35px;
}

#creditstext a {
	text-decoration:underline;
}

.creditsformcontainer {
	position: relative;
	z-index: 99999999999;
}