<template name="dashboard">
	<body>
		<a href="/">
			<div id="banner">Question Tool Admin Dashboard</div>
		</a>
		<br/><br/>
		<div id="wrapper" style="text-align: center;">
			<center>
				<div class="admincenter">
					<div class="columnhead">
						Instance options
					</div>
					<br />
					<table id="admintable">
						<tbody>
							{{#each instances}}
							<div class="tablerow" id="{{_id}}">
								<div id="tablespacer"></div>
									<tr>
										<td style="padding-left:15px;">
											<a href="/list/{{tablename}}">
												<p align="left">{{tablename}}</p>
											</a>
											<input class="hiddeninput" type="text" value="{{tablename}}">
										</td>
										<td style="padding-right:15px;">
											<a class="renamebutton" id="{{_id}}">
												<p align="right" id="rename">Rename</p>
											</a>
										</td>
										<td style="padding-right:10px;">
											<a class="deletebutton" id="{{_id}}">
												<p align="right" style="margin-right:15px;">Delete</p>
											</a>
										</td>
									</tr>
								</div>
							{{/each}}
						</tbody>
					</table>
					<br />
					<p style="text-align:center;">
						<a href="/create">Create a new instance</a>
					</p>
					<p align="center">
						<a href="/">Return to the chooser</a>
					</p>
				</div>
			</center>
		</div>
	</body>
</template>