.error-cont {
	text-align: center;
}

.error {
	font-weight: 700;
	width: fit-content;
	border: 2px solid #e74c3c;
	background-color: #e74c3c;
	display: inline-block;
	margin: 0.3em;
	padding: 0.3em;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
	font-weight: normal;
	text-align: center;
}

.errorIcon {
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 1px;
	margin-right: 8px;
}

.error-dismiss {
	padding-left: 10px;
	float: right;
	cursor: pointer;
	transition-duration: 0.3s;

	&:hover {
		opacity: 0.7;
	}
}
