.modifyformcontainer .error {
	font-family:semibold;
	width:70%;
}

#modifybox {
	display:block;
	width:100%;
	padding-left:2%;
	margin:0px auto;
	border: 2px solid #e9edf0;
	border-radius:5px;
	outline:0;
	height:100px;
	resize:none;
	margin-bottom:25px;
	font-family:regular;
	font-size:16px;
}

