<template name="create">
	<div id="toparea" style="text-align: center;">
		<div id="creatediv">
			<!--<textarea id="questioninput" maxlength="{{questionLength}}" placeholder="Type your question here..."></textarea>-->
			<div id="instancetopinputcontainer">
				<input id="instancenameinput" type="text" placeholder="Instance name...">
				<input id="instancedescriptioninput" type="text" placeholder="Description...">
			</div>
			<div id="instancebottominputcontainer">
				<input class="instancemodsinput firstmodinput" type="email" placeholder="Moderator email...">
				<div class="emptyinputspacer lastinputspacer">
					<div class="plusbuttoncontainer firstmodinput">
						<div class="instancemodsplus">
							+
						</div>
					</div>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Number of "featured" questions:</p>
	                <select name="threshold" size="1">
	                    <option value="2">2</option>
	                    <option value="4">4</option>
	                    <option value="6">6</option>
	                    <option value="8">8</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Question max word count:</p>
	                <select name="max_question" size="1">
	                    <option value="250">250</option>
	                    <option value="300">300</option>
	                    <option value="350" selected>350</option>
	                    <option value="400">400</option>
						<option value="500">500</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Response max word count:</p>
	                <select name="max_response" size="1">
	                    <option value="100">100</option>
	                    <option value="150" selected>150</option>
	                    <option value="200">200</option>
	                    <option value="250">250</option>
						<option value="300">300</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">New questions are highlighted for:</p>
	                <select name="new_length" size="1">
	                    <option value="30">30 sec</option>
	                    <option value="60">1 min</option>
	                    <option value="300" selected>5 mins</option>
	                    <option value="3600">1 hour</option>
	                    <option value="86400">1 day</option>
	                    <option value="604800">1 week</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Old questions are highlighted after:</p>
	                <select name="stale_length" size="1">
	                    <option value="900">15 mins</option>
	                    <option value="1800">30 mins</option>
	                    <option value="3600" selected>1 hour</option>
	                    <option value="86400">1 day</option>
	                    <option value="604800">1 week</option>
	                    <option value="2592000">1 month</option>
	                    <option value="31557600">1 year</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Visibility of instance:</p>
	                <select name="visibility" size="1">
	                    <option value="public">Public</option>
	                    <option value="hidden">Hidden</option>
	                </select>
				</div>
				<div class="dropdowncontainer">
					<p class="dropdownlabel">Social share:</p>
					<select name="social" size="1">
							<option value="on">On</option>
							<option value="off">Off</option>
					</select>
				</div>
			</div>
			<div id="bottomquestionarea">
				<div id="buttonarea">
					Create an instance!
				</div>
				<div id="checkarea1">
					<div class="checkarealeft">
						<div class="checkbox" id="advancedbox">
							<div class="checked" id="advancedcheck">
							</div>
						</div>
					</div>
					<div class="checkarearight">
						<p class="checkboxlabel">Advanced options?</p>
					</div>
				</div>
				<div id="checkarea2">
					<div class="checkarealeft">
						<div class="checkbox" id="allowanonbox">
							<div class="checked" id="allowanoncheck">
							</div>
						</div>
					</div>
					<div class="checkarearight">
						<p class="checkboxlabel">Allow anonymous?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
