<template name="ForgotPassword">
	<div id="darker">
	</div>
	<div class="formcontainer">
		{{> close_button}}
		<h1 class="formtitle">Forgot Password</h1>
		<div class="modaltopmessage">
			Enter your registered email address
		</div>
		<div class="inputcontainer">
			<input type="email" id="forgotPasswordEmail" spellcheck="false" class="input" placeholder="Email..." pattern=".{7,50}" required>
			<div class="modalbottommessage">
				Already have an account? <p class="modalemphasis" id="loginemphasis">Log in</p>
			</div>
			<div id="forgotpasswordsubmitbutton">
				Send Instructions
			</div>
		</div>
	</div>
</template>
