<template name="ForgotPassword">
	<div id="darker">
	</div>
	<div class="formcontainer">
		{{> close_button}}
		<h1 class="formtitle">Forgot Password</h1>
		<div class="modaltopmessage">
			Enter your registered Email
		</div>
		<div class="inputcontainer">
			<input type="email" id="forgotPasswordEmail" spellcheck="false" class="input" placeholder="Email..." pattern=".{7,50}" required>
			<div class="modalbottommessage">
				Already have an account? <p class="modalemphasis" id="loginemphasis">Log in</p>
			</div>
			<div id="forgotpasswordsubmitbutton">
				Send Instructions
			</div>
		</div>
	</div>
</template>

<template name="ResetPassword">
  {{#if resetPassword}}
  	<div id="darker">
  	</div>
  	<div class="formcontainer">
  		{{> close_button}}
  		<h1 class="formtitle">Reset Password</h1>
  		<div class="modaltopmessage">
  			Enter your registered Email
  		</div>
  		<div class="inputcontainer">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" spellcheck="false" required>
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" spellcheck="false" required>
  			<div class="modalbottommessage">
  				Already have an account? <p class="modalemphasis" id="loginemphasis">Log in</p>
  			</div>
  			<div id="resetpasswordsubmitbutton">
  				Reset
  			</div>
  		</div>
  	</div>
  {{/if}}
</template>
