<template name="propose">
	<head>
	    <title>Live Question Tool Proposal Form</title>
	</head>

	<body>
	    <div id="banner">
	        Question Tool Proposal Form
	    </div><br>
	    <br>

	    <div id="wrapper">
            <div class="center">
                <div class="columnhead">
                    Post a question
                </div><br>

                <table width="100%">
                    <tr>
                        <td style="font-weight: bold">Please post your
                        question. There is a limit of 255 characters.</td>

                        <td>
                        <textarea cols="40" name="comment" rows="4">
{{question}}
</textarea></td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold">Your name
                        (optional):</td>

                        <td><input maxlength="30" name="poster" type=
                        "text"></td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold">Your email address
                        (optional):</td>

                        <td><input maxlength="50" name="email" type=
                        "text"></td>
                    </tr>
                </table>

                <p style="text-align: center">
					<button id="submitbutton">Submit</button>
					<input name="submit_check" type="hidden" value="1">
				</p>

                <p style="text-align: center"><a href="/list">Return to the
                list</a></p>
            </div><br>
	    </div>
	</body>
</template>