<template name="propose">
	<body>
	    <div id="banner">
	        Question Tool Proposal Form
			{{> userInfo}}
	    </div>
		<br />
	    <br />
	    <div id="wrapper">
            <div class="center">
                <div class="columnhead">
                    Post a question
                </div>
				<br />
                <table width="100%">
                    <tr>
                        <td style="font-weight: bold">
							Please post your question. There is a limit of 255 characters.
						</td>
                        <td>
                        	<textarea cols="40" name="comment" rows="4"></textarea>
						</td>
                    </tr>
					{{#if currentUser}}
						{{> filledInput}}
					{{else}}
	                    <tr>
	                        <td style="font-weight: bold">
								Your name (optional):
							</td>
	                        <td>
								<input maxlength="30" name="poster" type="text">
							</td>
	                    </tr>
	                    <tr>
	                        <td style="font-weight: bold">
								Your email address (optional):
							</td>
	                        <td>
								<input id="emailbox" maxlength="50" name="email" type="text">
							</td>
	                    </tr>
					{{/if}}
				</table>
				{{#if currentUser}}
				{{else}}
					{{> passwordArea}}
				{{/if}}
                <p style="text-align: center">
					<button id="submitbutton">Submit</button>
					<input name="submit_check" type="hidden" value="1">
				</p>
                <p style="text-align: center">
					<a href="/list">Return to the list</a>
				</p>
            </div>
			<br />
	    </div>
	</body>
</template>

<template name="passwordArea">
	<br />
	<br />
	<span style="text-align:center;display:block;margin:0px auto;">
		Want to save your information? Enter a password to create an account.
	</span>
	<br />
	<table width="100%">
        <tr>
            <td style="font-weight: bold">
				Your password (optional):
			</td>
            <td>
				<input id="passwordbox" maxlength="50" type="password">
			</td>
        </tr>
        <tr id="confirmcontainer" class="hiddeninput">
            <td style="font-weight: bold">
				Confirm your password (optional):
			</td>
            <td>
				<input id="passwordconfirm" maxlength="50" type="password">
			</td>
        </tr>
    </table>
</template>

<template name="filledInput">
    <tr>
        <td style="font-weight: bold">
			Your name (optional):
		</td>
        <td>
			<input maxlength="30" name="poster" type="text" value="{{currentUser.profile.name}}" readonly>
		</td>
    </tr>
    <tr>
        <td style="font-weight: bold">
			Your email address (optional):
		</td>
        <td>
			<input id="emailbox" maxlength="50" name="email" type="text" value="{{currentUser.emails.[0].address}}" readonly>
		</td>
    </tr>
    <tr>
        <td style="font-weight: bold">
			Post as anonymous?
		</td>
        <td>
			<input id="anonbox" type="checkbox">
		</td>
    </tr>
</template>