<template name="login">
	<head>
		<title>Live Question Tool Admin Login Area</title>
	</head>
	<body>
		<div id="banner">Question Tool Admin Login Area</div>
		<br />
		<br />
		<div id="wrapper">
			<center>							
				<div class="center">
					<div class="columnhead">
						Admin login
					</div>
					<br/>
					<center>
						<b><!-- ERROR MESSAGE GOES HERE IF ONE EXISTS --></b>
					</center>
					<br />
					<table width="100%">
						<tr>
							<td>
								<b>Enter the password for access to the admin interface of {{tablename}}:</b>
							</td>
							<td>
								<input type="password" id="passwordbox" maxlength="10" name="pword">
							</td>
						</tr>
					</table>
					<p align="center">
						<button id="submitbutton">Submit</button>
					</p>
					<p align="center">
						<a href="/list">Return to the list</a>
					</p>
				</div>
			</center>
		</div>
	</body>
</template>