<template name="login">
	<div id="darker">
	</div>
	<div class="formcontainer">
		{{> close_button}}
		<h1 class="formtitle">Sign in</h1>
		<div class="modaltopmessage">
			Sign in to your account to save your information, add favorites, and create Question Tool instances.
		</div>
		<div class="inputcontainer">
			<input type="text" id="loginemail" spellcheck="false" class="input" placeholder="Email Address">
			<input type="password" id="passwordbox" class="input" placeholder="Password">
			<div id="loginsubmitbutton">
				Sign In
			</div>
			<div class="modalbottommessage">
				Don't have an account? <br><p class="modalemphasis" id="registeremphasis">Register Now</p>
			</div>
		</div>
	</div>
</template>