#nav {
	color: white;
	background: #293340;
	height: 60px;
	display: flex;
	flex-direction: row;
	padding-top: 2px;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#tablename {
	font-size: 24px;
	font-weight: 600;
	display: inline;
	float: left;
	margin-left: 1em;
}

#searchbar {
	height: 32px;
	flex-grow: 1;
	background-color: white;
	margin-top: 11px;
	margin-left: 1em;
	border-radius: 5px;
	border: 0;
	outline: 0;
	padding-left: 35px;
	font-weight: 400;
	color: #444444;
	font-size: 16px;
	background-image: url('/search.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 16px 16px;
	outline: 0;
}

#navbuttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;

  li {
		color: white;
		font-weight: 300;
		font-weight: normal;
		font-size: 14px;
		margin-top: 15px;
		margin-right: 25px;
		float: left;
		padding: 0px 5px 0px 5px;
		border-radius: 4px;

    &:hover {
			background-color: #5d6a7b;
		}
	}
}

#navLogin {
	cursor: pointer;
	padding: 0.4em 1em;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	margin: 0.75em 0.5em;
	background-color: #ec4f4f;
	margin-right: 130px;

  &:hover {
		background-color: #f16f71;
	}
}

#navRegister {
	cursor: pointer;
	padding: 0.4em 1em;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	margin: 0.75em 0.5em;
	background-color: #5d6a7b;

  &:hover {
		background-color: #707e8f;
	}
}

#navAsk {
	cursor: pointer;
	padding: 0.4em 1em;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	margin: 0.75em 0.5em;
	background-color: #27ae60;

  &:hover {
		background-color: #43c177;
	}
}

#navCreate {
	cursor: pointer;
	padding: 0.4em 1em;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	margin: 0.75em 0.5em;
	background-color: #27ae60;

  &:hover {
		background-color: #43c177;
	}
}

#navPresent {
	width: 8px;
	height: 24px;
	background-color: #5d6a7b;
	cursor: pointer;
	float: right;
	padding: 3px 15px 5px 15px;
	border-radius: 5px;
	margin-top: 12px;
	margin-right: 20px;
	background-image: url('/present.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 10px 7px;

  &:hover {
		background-color: #737f8e;
	}
}

#navUnPresent {
	display: none;
	width: 3em;
	height: 22px;
	background-color: #5d6a7b;
	cursor: pointer;
	padding: 6px 15px 5px 15px;
	border-radius: 5px;
	margin: 0.5em auto;
	color: white;
	font-weight: 600;
}

#navShare {
	cursor: pointer;
}

#navHome {
	cursor: pointer;
}

#navProfile {
	float: left;
	margin-right: 20px;
	margin-top: 15px;
	font-weight: 400;
	font-weight: normal;
	font-size: 15px;
}

#navLogout {
	cursor: pointer;
	background-color: #5d6a7b;
	padding: 5px 15px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	margin: 0.75em 0.5em;

  &:hover {
		background-color: #738092;
	}
}
