$nav-bg-color: #293340;
$nav-text-color: #eee;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-md: 992px;
$screen-sm-max: ($screen-md - 1);


.mobileprofile{
	color: $nav-text-color;
	font-weight: 600;
	font-size: 1.1em;
}
.mobiletitle{
	background: $nav-bg-color;
  	color: $nav-text-color;
  	padding-top: 1em;
  	text-align: center;
  	h1{
  		margin: 0 !important;
  		font-size: 22px;
  	}
}
#nav {
	background: $nav-bg-color;
  	color: $nav-text-color;
	min-height: 54px;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
  	font-weight: 600;
	margin-bottom: 0;
	padding-bottom: 0;
  	padding-left: 54px;
  	padding-right: 54px;

  a {
    color: $nav-text-color;
  }

}


#tablename {
  display: inline;
	font-size: 22px;
	margin-top: 16px;
}

#searchbar, #mobile-searchbar {
	height: 32px;
	background-color: #fff;
	border-radius: 5px;
	border: 0;
	outline: 0;
	padding-left: 35px;
	color: #333;
	font-size: 16px;
	background-image: url('/search.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	outline: 0;
  	font-weight: 400;
}

#searchbar {
	flex-grow: 1;
	margin-top: 10px;
	margin-left: 1em;
	background-size: 16px 16px;
}

#mobile-searchbar {
	width: 100%;
	background-size: 14px 14px;
}

#mobile-nav {
	@media screen and (max-width: $screen-sm-max){
		background-color: $nav-bg-color;
		padding: 0.5em;
	}
}
#navbuttons {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
  li {
		float: left;
	    a {
	      display: inline-block;
	      padding: 1em 1em;
		    .fa {
		    	font-size:1.4em;
		    }
	    }

    &:hover {
		&:not(.no-bg) {
        	background-color: lighten($nav-bg-color, 10);
      	}
	}

	}

}

#navoptions {
	list-style-type: none;
	margin: 0.5em 0 0 0;
	padding: 0;
	ul {
		white-space: no-wrap;
	}
	  li {
	    	margin-left: 0.3em;
	    	margin-top: 0.3em;
	    	display: inline-block;
		    a {
		    	display: inline-block;
		    	border-radius: 5px;
		      	padding: 0.3em 0.5em;

		      	.fa {
		      		font-size: 1.2em;
		      	}
		    }
		}
}

#navCreate, #navAsk {
	background-color: #27ae60;

  &:hover {
		background-color: #43c177;
	}
}

#navAdmin {
	background-color: #e67e22;

	&:hover {
		background-color: #f39c12;
	}

	.fa {
		font-size: 1em !important;
	}
}

#navPresent {
	width: 18px;
	height: 20px;
	padding: 3px 15px 5px 15px;
	background-image: url('/present.png');
	background-size: 1.2em 1.2em;
	background-repeat: no-repeat;
	background-position: 0.5em 0.4em;

	background-color: #5d6a7b;

  &:hover {
		background-color: #737f8e;
	}
}

#navUnPresent {
	border-radius: 5px;
	cursor: pointer;
	display: none;
	width: 3em;
	height: 22px;
	background-color: #5d6a7b;
	padding: 6px 15px 5px 15px;
	margin: 0.5em auto;
	color: #fff;
}

#navLogout {
	background-color: #5d6a7b;

  &:hover {
		background-color: #738092;
	}
}

#navLogin {
	background-color: #ec4f4f;

  &:hover {
		background-color: #f16f71;
	}
}

#navRegister {
	background-color: #5d6a7b;

  &:hover {
		background-color: #707e8f;
	}
}
