<template name="nav">
	<div id="nav" class="{{#if this.list}}{{#if currentUser}}loggedinlistbanner{{else}}loggedoutlistbanner{{/if}}{{else}}homebanner{{/if}}">
		<h1 id="tablename">
			{{this.title}}
		</h1>
		<input id="searchbar" class="{{#if this.list}}listsearchbar{{else}}homesearchbar{{/if}}" type="text" placeholder="Search...">
		<ul id="navbuttons">
			<li>
				<div id="navHome">
					Home
				</div>
			</li>
			{{#if this.list}}
				<li>
					<div id="navShare">
						Share
					</div>
				</li>
			{{/if}}
			{{#if admin}}
				<li>
					<div id="navAdmin">
						Admin
					</div>
				</li>
			{{/if}}
		</ul>
		{{#if currentUser}}
			<div id="navProfile">
				Hi, {{currentUser.profile.name}}!
			</div>
			<div id="navLogout">
				Log out
			</div>
			{{#if this.list}}
				<div id="navAsk">
					Post
				</div>
				<div id="navPresent">
				</div>
			{{else}}
				<div id="navCreate">
					Create
				</div>
			{{/if}}
		{{else}}
			<div id="navLogin">
				Sign in
			</div>
			<div id="navRegister">
				Sign up
			</div>
			{{#if this.list}}
				<div id="navAsk">
					Post
				</div>
				<div id="navPresent">
				</div>
			{{else}}
				<div id="navCreate">
					+ Create
				</div>
			{{/if}}
		{{/if}}
	</div>
</template>
