.closecontainer {
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
    position: relative;
    left: 92%;
    top: 5%;
}

.fa-close {
    color: #adadad;
    font-size: 20px;
    &:hover {
        color: #ea6153;
        transform: scale(1.1);
    }
}